[Unit]
Description=Graft Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/screen -d -m /usr/local/src/GraftNetwork/build/release/bin/graftnoded --rpc-bind-ip 127.0.0.1
ExecStop=/usr/local/src/GraftNetwork/build/release/bin/graftnoded exit
Restart=always
User=graftdaemon

[Install]
WantedBy=multi-user.target
